In [42]:
import pandas as pd

# Import data set

In [43]:
df=pd.read_csv('weight-height.csv')

In [44]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

# labelEncoder to 	Gender

In [45]:
from sklearn.preprocessing import LabelEncoder

In [46]:
le=LabelEncoder()

In [47]:
df['Gender_']=le.fit_transform(df['Gender'])

# Separate X (Gender, Height) and Y (y=Weight).

In [48]:
df

      Gender     Height      Weight  Gender_
0       Male  73.847017  241.893563        1
1       Male  68.781904  162.310473        1
2       Male  74.110105  212.740856        1
3       Male  71.730978  220.042470        1
4       Male  69.881796  206.349801        1
...      ...        ...         ...      ...
8550  Female  60.483946  110.565497        0
8551  Female  63.423372  129.921671        0
8552  Female  65.584057  155.942671        0
8553  Female  67.429971  151.678405        0
8554  Female  60.921791  131.253738        0

[8555 rows x 4 columns]

In [49]:
y=df.Weight
x=df[['Gender_','Height']]

# 3. Train = 70%, Test = 30%

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=.30)

In [52]:
xtrain.head(10)

      Gender_     Height
4545        1  69.744915
4098        1  65.974145
3071        1  68.647412
6853        0  63.995298
3051        1  70.563361
1172        1  71.692766
4229        1  71.993745
2988        1  67.616383
8304        0  62.826042
2307        1  66.408719

# LinearRegression

In [53]:
from sklearn.linear_model import LinearRegression

In [54]:
reg=LinearRegression()

In [55]:
reg.fit(xtrain,ytrain)

LinearRegression()

In [56]:
reg.predict(xtest)

array([138.25726606, 161.27867125, 193.35725692, ..., 197.97593623,
       179.86319452, 199.26830126])

# Evaluate the Model (Testing and training Accuracy, MSE for testing)

In [57]:
reg.score(xtrain,ytrain)

0.898979602599436

In [58]:
reg.score(xtest,ytest)

0.9021818847058258

# MsE

In [59]:
from sklearn.metrics import mean_squared_error,mean_absolute_error

In [60]:
mse_reg=mean_squared_error(ytest,reg.predict(xtest))

In [61]:
mae_reg=mean_absolute_error(ytest,reg.predict(xtest)) #mae

In [62]:
from sklearn.neighbors import KNeighborsRegressor

In [63]:
neigh = KNeighborsRegressor(n_neighbors=3)

In [64]:
neigh.fit(xtrain, ytrain)

KNeighborsRegressor(n_neighbors=3)

In [65]:
predict_y=neigh.predict(xtest)

In [66]:
mse_knn=mean_squared_error(ytest,predict_y)

In [67]:
mae_knn=mean_absolute_error(ytest,predict_y)

In [68]:
print(f"mean_absolute_error_knn: {mae_knn} ")

mean_absolute_error_knn: 9.128723031162187

In [69]:
print(f"mean_sqrt_error_knn: {mse_knn} ")

mean_sqrt_error_knn: 132.56614658647513

In [70]:
print(f"mean_absolute_error_reg: {mae_reg} ")

mean_absolute_error_reg: 7.961121290811413

In [71]:
print(f"mean_squr_error_reg: {mse_reg} ")

mean_squr_error_reg: 99.43858180587868

In [72]:
neigh.score(xtest,ytest)

0.8695941718455441

In [73]:
neigh.score(xtrain,ytrain)

0.9315684274487334

# Compare KNN & Linear Regression with the KNN Model and Linear regression as well.

knn  accuracy score is less then Linear Regression score . so i thing Linear Regression  better

In [89]:
df['knn_sco_tr']=0.93

In [90]:
df['knn_sco_te']=0.86

In [91]:
df['reg_sco_te']=0.90

In [92]:
df['reg_sco_tr']=0.89

In [93]:
df['squr_error_reg']= 99.43

In [94]:
df['abs_error_reg']=  7.91

In [95]:
df['sqrt_error_knn']=132.56

In [96]:
df['abs_error_knn']= 9.12

In [97]:
df

,Unnamed: 0,Gender,Height,Weight,Gender_,ne_sco_train,ne_sco_test,squr_error_reg,ne_sco_tr,ne_sco_te,reg_sco_te,reg_sco_tr,abs_error_reg,sqrt_error_knn,abs_error_knn
0,0,Male,73.847017,241.893563,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
1,1,Male,68.781904,162.310473,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
2,2,Male,74.110105,212.740856,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
3,3,Male,71.730978,220.042470,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
4,4,Male,69.881796,206.349801,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8550,8550,Female,60.483946,110.565497,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
8551,8551,Female,63.423372,129.921671,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
8552,8552,Female,65.584057,155.942671,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
8553,8553,Female,67.429971,151.678405,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
8554,8554,Female,60.921791,131.253738,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12

In [104]:
df.drop('Gender',axis=1,inplace=True)

In [106]:
df.drop('Unnamed: 0',axis=1,inplace=True)

In [107]:
df

,Height,Weight,Gender_,ne_sco_train,ne_sco_test,squr_error_reg,ne_sco_tr,ne_sco_te,reg_sco_te,reg_sco_tr,abs_error_reg,sqrt_error_knn,abs_error_knn
0,73.847017,241.893563,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
1,68.781904,162.310473,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
2,74.110105,212.740856,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
3,71.730978,220.042470,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
4,69.881796,206.349801,1,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8550,60.483946,110.565497,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
8551,63.423372,129.921671,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
8552,65.584057,155.942671,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
8553,67.429971,151.678405,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12
8554,60.921791,131.253738,0,0.93,0.86,99.43,0.93,0.86,0.9,0.89,7.91,132.56,9.12

In [108]:
df.to_csv('k_nn-reg.csv')